#container {
    max-width: 50vh;
    max-height: 50vh;
    aspect-ratio: 1;
    display: grid;
}

@keyframes born {
    from {background-color: white}
    to {background-color: green}
}

@keyframes death {
    from {background-color: green}
    to {background-color: white}
}

@keyframes empty {
    from {background-color: white}
    to {background-color: white}
}

@keyframes live {
    from {background-color: green}
    to {background-color: green}
}